.card {
  background-image: ;
  color: black;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-img-top {
  width: 40% !important;
}

/* .card-img-top {
  width: 10%;
  height: auto;
  margin: 0 auto; /* Added */
.contact-section {
  padding: 5rem 0 0;
}

.contact-section .card {
  border: 0;
  border-bottom: 0.25rem solid #64a19d;
}

.contact-section .card h4 {
  font-size: 0.8rem;
  font-family: "Varela Round";
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.contact-section .card hr {
  border-color: #64a19d;
  border-width: 0.25rem;
  width: 3rem;
}
